body{
	font-size: 2rem;
	color: white;
	background-image: url('/static/media/wallpaper.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
/*	border-left: 5px solid #3a558c; */
	/* border-right: 5px solid #3a558c; */
	/* border-bottom: 5px solid #3a558c; */
	
}
.panel{
	/* border-bottom: 5px solid #3a558c; */
	height: 1rem;
}
.hl_frame{
	 border: 5px solid #3a558c; 
	 height: 98%;

}
.container{
	background-color: rgba(15, 25, 37, 0.7);
	min-height: 600px;
	margin-top: 5%;
	padding-top: 2%;
}

.container .dashboard .btn{
	width: 100%
}

.row{
	margin-bottom: 3rem;
}

