@import "home";
@import "hdds";
@import "nav-tab";
// @import "networking";
// @import "panel";

$darkblue: #0f1925;
$lightblue: #3a558c;
$darkgreen: #162113;
$lightgreen: #676a45;
$darkcoat: #412521;
$lightcoat: #5d3232;


body::-webkit-scrollbar {
    display: none; // this doasn't work I need to find a good way to do that @TODO
}
body{
	
	font-size: 2rem;
	color: white;
	background-image: url('/static/media/wallpaper.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*	border-left: 5px solid $lightblue; */
	/* border-right: 5px solid $lightblue; */
	/* border-bottom: 5px solid $lightblue; */

	// Main page container
	.page_container{
		background-color: rgba(15, 25, 37, 0.7);
		min-height: 600px;
		/*	margin-top: 5%; */
		padding-top: 2%;
	}

	// Top panel which for now is empty
	.panel{
		/* border-bottom: 5px solid $lightblue; */
		height: 1rem;
		background-color: #0f1925;
		font-size:1rem;
		> *{
			position: relative;
			top:-5px
		}
		ul{
			height:100%;
			list-style: none;
			position: relative;
			left: -1.3vw;

			li{
				display: inline-block;
				width: 1rem;
			}
			li.active{
				color: black;
				background-color: #5d3232;
			}
		}
	}


	// frame around the whole page mimicking the herbst style
	.hl_frame{
		border: 5px solid $lightblue; 
		height: 97.9%;
		position: relative;
		z-index: 999;
	}

}





