@import "home";
@import "hdds";
@import "nav-tab";
// @import "networking";
// @import "panel";

$bg_color: var( --theme-background-color);
$bg_active_color: var(--frame-bg-active-color);
$normal_color: var(--theme-normal-color);
$active_color: var(--theme-active-color);
$frame_transparent_width: var(--frame-transparent-width); 
$wallpaper: var(--wallpaper);

body::-webkit-scrollbar {
    display: none; // this doasn't work I need to find a good way to do that @TODO
}
body{
	
	font-size: 2rem;
	color: white;
	background-image: $wallpaper;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*	border-left: 5px solid $lightblue; */
	/* border-right: 5px solid $lightblue; */
	/* border-bottom: 5px solid $lightblue; */

	// Main page container
	.page_container{
		background-color: rgba(15, 25, 37, 0.7);
		min-height: 600px;
		/*	margin-top: 5%; */
		padding-top: 2%;
	}

	// Top panel which for now is empty
	.panel{
		/* border-bottom: 5px solid $lightblue; */
		height: 1rem;
		background-color: $bg_color;
		font-size: .5rem;
		overflow: hidden;
		> *{
			position: relative;
			top:-3px
		}
		ul{
			height:100%;
			list-style: none;
			position: relative;
			left: -1.3vw;

			//this controls right vert line
			border-right: 1px solid $active_color;
			width: 95%;

			li{
				display: inline-block;
				width: 1rem;
			}
			li.active{
				color: black;
				background-color: $active_color;
			}
		}
		.clock{
			border-left: 1px solid $active_color;
			border-right: 1px solid $active_color;
			right: 2vw;
		}
	}


	// frame around the whole page mimicking the herbst style
	.hl_frame{
		border: $frame_transparent_width solid $bg_active_color; 
		height: 97.9%;
		position: relative;
		z-index: 999;
	}

}





