<div class="tab-pane fade show active" id="home" role"tabpanel" aria-labelledby="home-tab">
	<div class="row dashboard justify-content-end">
		<div class="col-2">
			{% with
				used_memory = memory.used_memory,
				total_memory = memory.total_memory,
				percentage_memory = memory.percentage_memory
				%}
				{% include 'components/memory_tile.htm' %}
			{% endwith %}
		</div>
		<div class="col-2">
			{% with
				load_1 = load.0,
				load_5 = load.1,
				load_15 = load.2
				%}
				{% include 'components/cpu_tile.htm' %}
			{% endwith %}
		</div>
		<div class="col-2">

			{% with battery_icon=battery.icon %}
				{% include 'components/battery_tile.htm' %}
			{% endwith %}
		</div>
	</div> <!-- end .row -->
	<div class="row">
		<div class="col-12 text-center">
			<label for="screenBrightness" class="form-label">Screen Brightness</label>
			<input type="range" class="form-range" id="screenBrightness">
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<label for="audioVolume" class="form-label">Audio Volume</label>
			<input type="range" class="form-range" id="audioVolume">
		</div>
	</div> <!-- end of "row dashboard justify-content-end " -->
</div>
